amqp==2.3.2
appnope==0.1.0
Babel==2.6.0
backcall==0.1.0
billiard==3.5.0.3
celery==4.2.0
certifi==2022.12.7
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
coverage==4.5.1
decorator==4.3.0
Django==1.11.15
django-appconf==1.0.2
-e git+https://github.com/gooesoft/django-attachments@4d325a5d13a77961185ebfa678c06b22be037802#egg=django_attachments
django-autocomplete-light==3.2.10
django-braces==1.13.0
django-cacheops==4.0.6
django-celery-beat==1.1.1
django-celery-email==2.0.0
-e git+https://github.com/gooesoft/django-celery-results@1ff9090166252a8360c62a1303402753be24eebc#egg=django_celery_results
django-debug-toolbar==1.9.1
django-extensions==2.0.7
django-filter==1.0.4
django-formtools==2.1
django-fsm==2.6.0
-e git+https://github.com/gooesoft/django-fsm-log@ae75a094df9ee068fed153ed3ad69d6b38fe1828#egg=django_fsm_log
django-oidc-rp==0.2.0
django-querycount==0.7.0
django-redis==4.8.0
django-semanticui-forms==1.6.5
django-sendfile==0.3.11
django-tables2==1.21.2
djangorestframework==3.8.2
ffprobe3==0.1.2
funcy==1.10.2
future==0.16.0
hiredis==0.2.0
idna==2.6
ipython==6.4.0
ipython-genutils==0.2.0
itypes==1.1.0
jedi==0.12.0
Jinja2==2.10
jsonfield==2.0.2
kombu==4.2.1
Markdown==2.6.11
MarkupSafe==1.0
model-mommy==1.6.0
parso==0.2.1
pexpect==4.6.0
pickleshare==0.7.4
Pillow==5.2.0
prompt-toolkit==1.0.15
psycopg2==2.7.5
ptyprocess==0.5.2
pycryptodomex==3.6.1
Pygments==2.2.0
pyjwkest==1.4.0
pytz==2018.4
redis==2.10.5
requests==2.18.4
rules==2.0
simpleflake==0.1.5
simplegeneric==0.8.1
six==1.11.0
sqlparse==0.2.4
tornado==4.5.2
traitlets==4.3.2
uritemplate==3.0.0
urllib3==1.22
vine==1.1.4
wcwidth==0.1.7
